POSTGRES_USER=postgres
POSTGRES_PASSWORD=development
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
# PARSER_DOMAIN= # default: https://parser.ecosyste.ms
# ARCHIVES_DOMAIN= # default: https://archives.ecosyste.ms
# TIMELINE_DOMAIN= # default: https://timeline.ecosyste.ms
# COMMITS_DOMAIN= # default: https://commits.ecosyste.ms
# PACKAGES_DOMAIN= # default: https://packages.ecosyste.ms
