<% @meta_title = "Funding dependencies" %>
<div class='container-sm'>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Funding</li>
    </ol>
  </nav>

  <h1>Hack your stack</h1>

  <p>This funding experiment has ended, if you'd like to see it return please open an issue: <%= link_to 'https://github.com/ecosyste-ms/repos/issues/new', 'https://github.com/ecosyste-ms/repos/issues/new' %></p>

</div>
