<% @meta_title = "#{@repository.full_name} readme | #{@host}" %>
<% @meta_description = @repository.description %>

<div class="container-sm">
  <%= render 'overview' %>

  <div class="row">
    <div class="col-lg-8">
      <%= render 'tabs' %>

      <div class='card mt-3' id="readme" data-url="<%= @repository.download_url(@sha, params['sha'].present? ? 'tag' : 'branch') %>">
        <div id='readme-header' class="card-header">Readme</div>
        <div id="readme-content" class="card-body">Loading...</div>
      </div>
    </div>
    <div class="col-lg-4">
      <%= render 'sidebar' %>
    </div>
  </div>
</div>
