<% @meta_title = "#{@ecosystem} | Package Usage" %>
<% @meta_description = "Usage of packages in the #{@ecosystem} ecosystem" %>

<div class="container-sm">
  <h1 class='mb-3'>
    <%= link_to 'Package Usage', usage_index_path %>:
    <%= @ecosystem %>
  </h1>

  <p>Temporarily disabled due to scaling issues, this page will be back soon.</p>

  <% if false %>  
    <%= render @package_usages %>
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
  <% end %>
</div>