<li class="nav-item ms-auto">
  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= t('.sort') %>
    </button>
    <ul class="dropdown-menu">

      <% [['pushed_at', 'desc', t('.recently_pushed')],['stargazers_count','desc',t('.stars')],['forks_count','desc',t('.forks')]].each do |sort, order, name| %>
        <li><a class="dropdown-item <%= 'active' if params[:sort] == sort %>" href="<%= url_for(sort: sort, order: order) %>"><%= name %></a></li>
      <% end %>
    </ul>
  </div>
</li>