<% @meta_title = 'Open Data Releases' %>
<% @meta_description = 'Open Data releases of open source repository metadata' %>

<div class="container-sm">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Open Data</li>
    </ol>
  </nav>

  <h1>Open Data Releases</h1>

  <% if @exports.any? %>
    <%= render @exports %>
  <% else %>
    <p class='my-5'>Coming soon...</p>
  <% end%>
</div>
